{% load static %}

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR-APP</title>

    <link href="{% static '/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/bootstrap/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static '/css/styles.css' %}" rel="stylesheet">

    <script src="{% static '/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/sweetalert2/sweetalert2.js' %}"></script>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <h1>QR-APP</h1>
        </div>
        <div class="row">
            <h2>Esta pagina esta siendo consumida desde</h2>
        </div>
        <div class="row">
            <h4>({{user_agent}})</h4>
        </div>        
        <br>
        <!-- Botón para descargar el archivo -->
        <form method="post" action="{% url 'download'%}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Descargar APK</button>
        </form>
    </div>

    <footer>
        <div class="container text-center">
            <h3>Desarrolladores</h3>
            <p>Luciano Pino Aguilar - Alonso Soto Urbina</p>
            <p>&copy; 2023 Desarrollo de aplicaciones móviles. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>